:root {
    --main-red: #ec5454;
    --main-black: #18110b;
    --main-gray: rgb(242, 242, 242);
  }
body {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(247, 250, 252);
}


.welcome-text {
    color: #f75454;
    font-weight: 600;
    font-size: 2rem;
    -webkit-font-smoothing: antialiased;
    padding: 100px;
    border: 5px solid #f75454;
}

.welcome-text > span {
    font-size: 2.1rem;
    text-shadow: 3px 3px #fbbcbc;
}

.small-welcome-text {
    color: #f75454;
    font-size: 0.5rem;
    font-weight: bold;
    margin-left: 6px;
    margin-bottom: 1px;
}

#sale{
    max-width: 80%;
    margin: 0 auto;
}

#featured{
  max-width: 80%;
  margin: 0 auto;
}

.book-cover{
    width: 300px; 
    height: 337px; 
    object-fit: cover;
}

 .book-card{
    margin:  10px 0px;
    height: 530px; 
} 

.slick-prev:before {
  font-size: 2.5rem;
    color: var(--main-red) !important;
  }
  .slick-next:before {
    color: var(--main-red) !important;
  }

  .sale-container{
    border: 1px solid lightgrey !important;
    margin: 5px;
    padding: 0px 0px 25px 0px;
  }

  .view-all-button{
    background-color: var(--main-red);
    margin-bottom: 3px;
  }

  .featured-container{
    
    
    border-right:  1px solid lightgrey !important;
    border-bottom: 1px solid lightgrey !important;
    border-left:   1px solid lightgrey !important;
   
    
  }

  .slick-slide>div {padding: 0 10px;}

 .row.container{
  margin: 0 auto;

}

.price{
  background-color: var(--main-gray);
}

#footer{
  background-color: rgb(242, 242, 242) !important;
  margin-top: 20px;
  padding: 10px;
}

#header{
  margin-bottom: 20px;
  background-color: rgb(242, 242, 242) !important;
}

#price{
  background-color: var(--main-gray);
}




.number-input input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.number-input input[type="number"]::-webkit-inner-spin-button,
.number-input input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.number-input {
  margin-bottom: 3rem;
}
.number-input button {
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0;
  position: relative;
}
.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 2px;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.number-input input[type="number"] {
  text-align: center;
}
.number-input.number-input {
  border: 1px solid #ced4da;
  width: 10rem;
  border-radius: 0.25rem;
}
.number-input.number-input button {
  width: 2.6rem;
  height: 0.7rem;
}
.number-input.number-input button.minus {
  padding-left: 10px;
}
.number-input.number-input button:before,
.number-input.number-input button:after {
  width: 0.7rem;
  background-color: #495057;
}
.number-input.number-input input[type="number"] {
  max-width: 4rem;
  padding: 0.5rem;
  border: 1px solid #ced4da;
  border-width: 0 1px;
  font-size: 1rem;
  height: 2rem;
  color: #495057;
}
